<%-include("../partials/header", {title: "Dashboard"})-%>
<body>
    <div class="sidebar" data-theme="light">
        <%-include("../partials/sidebar")-%>
    </div>
    <div class="content-home" data-theme="light">
        <table class="styled-table table">
            <thead>
              <tr>
                <th>#</th>
                <th>ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Stage</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <%let no = 1; data.forEach((item)=>{%>
                <tr>
                  <td><%-no-%></td>
                  <td><%-item.id-%></td>
                  <td><%-item.description.substring(0,100)-%>...</td>
                  <td><%-item.status-%></td>
                  <td><%-item.stage-%></td>
                  <td><%-item.date-%></td>
                  <td>
                    <table class="action">
                      <tr>
                        <td><a href="report/<%=item._id%>"><i class="fa-solid fa-eye" style="color: #54b5ff;"></i></a></td>
                      </tr>
                    </table>
                  </td>
                </tr>
              <%no+=1})%>
            </tbody>
          </table>
    </div>
<%-include("../partials/footer")-%>
